# Eclipse
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
**/target/
**／.DS_Store
**/.DS_Store
**/.settings
**/.classpath
**/.project
**/.externalToolBuilders
**/.pmd
**/.checkstyle
**/*.bpmn2d
settings.xml
**/pom.xml.versionsBackup
/bin
/classes

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/
**/*.iml
**/*.log
*.patch
# Others
node_modules/
**/MANIFEST.MF
**/logs
log.txt
**/LOG_PATH_IS_UNDEFINED
.flattened-pom.xml
dependency-reduced-pom.xml
dispatch.db*
/data
